body {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
}

.loadHead {
    font-family: 'Slabo 27px', serif;
    font-weight: 900;
    color: #ffde00;
    /* font-family: 'Roboto', sans-serif; */
    animation-name: loadtxt;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-top: 16px solid #6599ff;
    border-left: 16px solid #f90;
    border-right: 16px solid #097054;
    border-bottom: 16px solid #ffde00;
    animation: spin 2s linear infinite;
    z-index: 3;
}

@keyframes loadtxt {
    0% {
        text-shadow: transparent;
    }
    50% {
        text-shadow: 3px 0 15px #097054, 0 3px 15px #097054, -3px 0 15px #097054, 0 -3px 15px #097054, 3px 3px 15px #097054, -3px -3px 15px #097054, -3px 3px 15px #097054, 3px -3px 15px #097054;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}