* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

html,
body {
	height: 100%;
}

header {
	background: url(../img/3.jpg);
	background-size: 100% 100%;
	height: 100%;
	width: 20%;
	position: fixed;
}

.logo {
	background: url(../img/1.png);
	background-size: 100% 100%;
	height: 30%;
	width: 70%;
	margin: 30px auto;
	resize: both;
}

ul {
	width: 70%;
	margin: 0 auto;
	list-style: none;
}

li {
	background-color: lightblue;
	padding: 10px;
	margin: 2px;
	text-align: center;
	width: 100%;
	border-radius: 15px;
}

a {
	text-decoration: none;
	color: darkviolet;
}

main,
footer {
	float: right;
	width: 80%;
}

main div {
	height: 900px;
	text-align: center;
}

.home {
	position: relative;
	background: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.banner {
	position: absolute;
	height: 30%;
	width: 50%;
	border: 8px solid white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: skyblue;
	opacity: 0.8;
	filter: alpha(opacity=80%);
}

span {
	position: absolute;
	text-align: center;
	width: 45%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-size: 3em;
	padding-bottom: 0.8em; 
}

strong {
	font-size: 1.5em;
}

.about {
	background-color: red;
}

.services {
	background-color: yellow;
}

.projects {
	background-color: green;
}

.gallery {
	background-color: orange;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
}